# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock


Backend/.env
Backend/node_modules
Backend/package-lock.json
Backend/yarn.lock

test_case/build
test_case/node_modules
test_case/package-lock.json
test_case/yarn.lock

admin/yarn.lock
admin/package-lock.json
admin/node_modules
users.mongodb
admin/config-overrides.js
